*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body{
  text-align: center;
}

:root {
  --dark: rgb(34,47,63);
  --petrolium: rgb(45,66,90);
  --green: rgb(34,177,139);
}

h1,h2,h3,h4, h5{
  text-transform: uppercase;
  margin:15px 5px;
}

section{
  padding:20px 0;
}


input{
  width:35%;
}


a{
  text-decoration: none;
  color:white;
}

.sc-btn{
  border:1px solid white;
  border-radius:10px;
  padding:10px 15px;
  display: inline-block;
  width:fit-content;
}

.sc-wide-cont{
  width:70%;
}

.sc-narrow-cont{
  width:40%;
}

header, .sc-foot-bottom{
  width:100%;
  background-color: var(--dark);
  color:white;
  height:90px;
}

.jumbotron, .sc-about{
  background-color: var(--green);
  padding:20px 15px;
  text-align: center;
  color:white;
}

.jumbo-content .sc-line, .sc-about .sc-line{
  background-color: white;
}

.sc-portfolio .sc-line, .sc-contact .sc-line{
  background-color: var(--dark);
}


.sc-circle{
  width:200px;
  height:200px;
  background-color: blueviolet;
  border-radius:50%;
  margin:30px 20px;
}

.sc-circle-social{
  border-radius: 50%;
  padding:15px;
  width:30px;
  height:30px;
  border:1px solid white;
}

.sc-star{
  margin:20px auto;
  width:70%;
}

.sc-line{
  width: 40%;
  height:5px;
  border-radius:5px;
}

.sc-portfolio, .sc-contact{
  background-color: white;
  color:var(--dark);
}

.sc-card{
  border-radius:25px;
  background-color: pink;
  height:200px;
  margin:20px 10px;
}

/* FOOTER */

footer{
  color:white;
  
}

.sc-foot-top{
  background-color: var(--petrolium);
}

.sc-foot-top a{
  color:var(--green);
  cursor: pointer;
}